.bookDiv {
  max-width: 600px;
  background-color: tan;
}

.bookShelfContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.svgDiv {
 width: 300px;
}

svg:hover {
  transform: scale(1.8);
  transition: 0.5s;
}
